table{
    border-collapse: collapse;
    border: 2px solid black;
}
th{
    border: 2px solid black;
}
td{
    border: 2px solid black;
}
.titulo{
    background-color: red;
}
.dias{
    background-color: black;
    color: white;
}
.patio{
    background-color: black;
    color: white;
}
.m6{
    background-color: lightgreen;
}
.m7{
    background-color: lightblue;
}
.m8{
    background-color: lightsalmon;
}
.m12{
    background-color: lightpink;
}